iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
mutagen==1.46.0
numpy==1.24.2
packaging==23.1
parameterized==0.9.0
pluggy==1.2.0
Pygments==2.15.1
PyInputPlus==0.2.12
PySimpleValidate==0.2.12
pytest==7.4.0
rich==13.4.2
sox==1.4.1
stdiomask==0.0.6
